.person{

}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
    max-width: 200px;
    padding-bottom: 10px;

}

h2 {
    text-align: center;
    color: darkred;
}
h3{
    text-align: center;
    color: crimson;
}

p{
    margin:10px;
font-weight: bold;
}